@import "tailwindcss";

@layer components {
  .animated-border-container {
    @apply relative p-[2px] rounded-lg overflow-hidden;
    background: linear-gradient(90deg, #2b7fff, #f0b100, #2b7fff);
    background-size: 200% 100%;
    animation: moveGradient 4s linear infinite;
  }

  @keyframes moveGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }

  .inner-card {
    @apply bg-white h-full w-full rounded-[6px] relative z-10;
  }
}